.site-footer {
  
  background-color: $brand-grey;
  padding-top: 2em;
  margin-top: 2em;
  padding-bottom: 1em;
  
}

.sub-footer {
  
  background-color: $brand-grey;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  
}