section.gray, .section-grey {
  
  background-color: $brand-gray;
  
}

.under-jumbotron {
  
  margin-top: -2em;
  padding-top: 2em;
  
}

//  three column wide bootstrap marketing circles
//
.page-feature-container {
  
  // background-color: $brand-primary-light;
  
}

//
//
.page-service-marketing-container {
  
  // margin-top: 2em;
  
}

.page-service-marketing-columns {
  
  h3 {
    
    // color: $brand-warning;
    font-size: $font-size-h4;
    // padding-top: 1em;
    
    a {
      
      color: $brand-warning;
      
      &:hover {
        
        color: desaturate($brand-warning, 20%);
        
      }
      
    }
    
  }
  
}

.page-marketing-four-columns-container {
  
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  
}

// featurettes

.page-featurette-section {
  
  margin: 1em 0;
  padding: 0.5em 0;
  
  h2 {
    
    color: $brand-primary;
    text-align: center;
    font-size: 30px;
    
  }
  
  hr {
    
    border-top: none;
    border-bottom: 5px solid;
    color: $brand-primary;
    
  }
  
  h3 {
    
    font-size: 35px;
    
  }
  
  img {
    
    margin-bottom: 10px;
    
  }
  
  .page-featurette-section-inner {
    
    margin-bottom: 1em;
    
    p, ul, ol {
      
      font-size: 20px;
      
    }
    
  }
  
}

.page-category-post-list {
  
  .btn-wire {
    
    margin-top: 1em;
    margin-bottom: 1em;
    
  }
  
}

.page-cta {
  
  padding: 2em 1em;
  margin-bottom: -2em;
  background-color: $brand-info;
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin-top: 2em;
  
  a {
    
    color: white;
    text-decoration: underline;
    
  }
  
}

.jumbotron-marketing {
  
  @media screen and (min-width: 768px){
  
    h1 {
      
      font-size: 57px;
      
    }

  }
}