.slider {
  
  padding: 0.5em 0 5em 0;
  
  @media screen and (max-width: 768px) {
    
    padding-bottom: 3em;
  }
  
}

.carousel-indicators {
  
  bottom: -3em;
  
  li {
    
    border: 1px solid #4f5a65;
    
  }
  
  .active {
    
    background-color: #b6babd;
  }
  
  @media screen and (min-width: 768px) {
    
    bottom: -3em;
    
  }
  
}

.carousel-control {
  
  
  
  .right {
    
    background: none;
  }
  
  .left {
    
    background: none;
    
  }
}

.carousel-caption {
  
  position: static;
  padding: 1em 0.5em;
  background-color: $brand-grey;
  
  
  h3 {
    
    margin: 5px 0;
    font-size: 22px;
    
  }
}

.slider-inner {
  
  p {
    
    font-size: 20px;
  }
}

h1.title-slider {
  
  font-size: 50px;
  margin-top: 0;
  
  @media screen and (max-width: 768px) {
    
    margin-top: 0.5em;
  }
}

h2.title-slider {
  
  margin-top: 0;
  
  @media screen and (max-width: 768px) {
    
    margin-top: 0.5em;
  }
}