h2.subtle {
  
    font-size: 25px;
    color: $brand-subtle;
    margin: 1em 0;
  
}

h3.subtle {
  
    font-size: 20px;
    color: $brand-subtle ;
    margin: 1em 0;
  
}

h4.subtle {
  
  font-size: 18px;
  color: $brand-subtle;
  margin: 1em 0;
  
}

.single-line-heading {
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

blockquote footer, blockquote small, blockquote .small {
  
  color: $brand-grey-dark;
}