.tag-list a {
  
  @extend .label;
  background-color: lighten($brand-info, 5%);
    
}

.tags-links {
  
  margin: 5px 0;
  
}

.category-label {
  
  position: absolute;
  top: 2em;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: 700;
  background-color: $brand-primary;
  color: white;
  font-size: 1em;

  .label-news {
    
  }
  
}

.page-category-card .category-title {
  
  margin-top: 0.5em;
  
}

// category meet the team page

.category-page-header {
  
  text-align: center;
  
  .category-page-title {
    
  }
  
}
